/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
i{
  cursor: pointer;
}

.myNav{
  background-color: #6e5580;
  
}

.myContainerBody {
  background-color: #ace9f9;
  /* height: 100%; */
  min-height: 100vh;
}

#NotesPic {
  height: 50%;
}



.para {
  color: blue;
  }



#notesPic {
  float: right;
  height: 58%;
  /* margin-left: 10px; */
}

.myContainer{
  height: 100vh;
}